body {
    padding: 0;
    margin: 0;
  }
  footer {
    background: url(Picture.jpg);
    width: 1920px;
    min-height: 420px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .pictures {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 255px;
  }
  
  .logo {
    padding-top: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .text {
    padding-top: 53px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .line {
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .icons {
    width: 155px;
    padding-top: 15px;
    letter-spacing: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .copy {
    padding-top: 88px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }